#!/usr/bin/make -f

override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./autogen.sh

# Kill *.la files, and forget no-one:
override_dh_install:
	find debian/libvdpau-tegra -name '*.la' -delete
	dh_install
	dh_installudev

override_dh_makeshlibs:
	dh_makeshlibs -n

%:
	dh $@ --with autoreconf
